# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Local settings
.env
.env.*


# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test output
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Docker
*.pid

# Miscellaneous
.DS_Store
Thumbs.db
