<ul class="nav nav-pills flex-column mb-auto">
    <li>
        <a href="{% url 'reservas:reservas' %}"
           class="nav-link text-white {% if request.resolver_match.app_name == 'reservas' %}active bg-secondary{% endif %}">
            Reservas
        </a>
    </li>

    {% if user.is_staff %}
    <li>
        <a href="{% url 'quartos' %}"
           class="nav-link text-white {% if '/quartos/' in request.path %}active bg-secondary{% endif %}">
            Quartos
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'clientes' %}"
           class="nav-link text-white {% if '/clientes/' in request.path %}active bg-secondary{% endif %}">
            Clientes
        </a>
    </li>
    {% if user.is_staff %}
    <li>
        <a href="{% url 'funcionarios' %}"
           class="nav-link text-white {% if '/funcionarios/' in request.path %}active bg-secondary{% endif %}">
            Funcionários
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'lista_ocorrencias' %}" class="nav-link text-white {% if '/ocorrencias/' in request.path %}active bg-secondary{% endif %}">
            Ocorrências
        </a>
    </li>
    {% if user.is_staff %}
    <li>
        {% if request.user.is_staff %}
        <a href="{% url 'lista_tarifas' %}" class="nav-link text-white {% if '/tarifas/' in request.path %}active bg-secondary{% endif %}">
            Tarifas
        </a>
        {% endif %}
    </li>
    {% endif %}

     {% if user.is_authenticated %}
        <li class="mt-3">
            <div class="d-flex align-items-center gap-2 px-3 text-white">
                <span>Olá, {{ user.first_name }}</span>
                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm ms-auto">Sair</a>
                </div>
        </li>
    {% endif %}
</ul>
