{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
  <h2 class="mb-4">Editar Reserva</h2>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}

    {% if formset.forms %}
      <hr>
      <h5>Check‑in / Check‑out</h5>
      {{ formset.management_form }}
      {% for f in formset.forms %}
        {{ f|crispy }}
      {% endfor %}
    {% endif %}



    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'reservas:reservas' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}