{% extends 'base.html' %}


{% block content %}

{% include 'reservas/partials/_card_info.html'%}

<div class="d-flex flex-wrap align-items-center gap-3 mb-4">

  <div class="flex-grow-1">
    {% include 'partials/_busca.html' with placeholder_text="Buscar por cliente" %}
  </div>
  
  <div class="d-flex flex-wrap align-items-center gap-2">
    <a href="{% url 'cadastrar_reserva' %}" class="btn btn-success">Adicionar Reservas</a> 
  </div>

</div>

{% include 'reservas/partials/_card_reservas.html' with reservas=reservas %}

{% endblock %}